<h1>Update Customer</h1>
<form [formGroup]="formUpdate">

  <div>
    <label for="fullName">Name</label>
    <input type="text" name="fullName" id="fullName" formControlName="fullName">
    <div class="error-div" *ngIf="name?.invalid && name?.dirty">
      <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
      <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name must have minim 4 letters</small>
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <input name="email" type="text" id="email" formControlName="email">
    <div class="error-div" *ngIf="email?.invalid && email?.dirty">
      <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
      <small class="text-danger" *ngIf="email?.errors?.['email']">Input must be an email style</small>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input name="password" type="password" id="password" formControlName="password">
    <div class="error-div" *ngIf="password?.invalid && password?.dirty">
      <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
      <small class="text-danger" *ngIf="password?.errors?.['minlength']">Password must have minimum 8 letters</small>
    </div>
  </div>

  <p>
    <button type="submit" value="Save Customer" (click)="saveCustomer()" [disabled]="!formUpdate.valid">Save customer</button>
  </p>
  <p>
    <a class="button" (click)="goHome()">Cancel</a>
  </p>

  <p>
    <a class="button button-to-delete" (click)="deleteCustomer()">Delete</a>
  </p>
</form>
